.messageList {
  overflow-y: scroll;
  height: 82%;
  border: violet;
}

.textInput {
  position: absolute;
}
.dateContainer {
  display: flex;
  align-items: center;
}
.date {
  margin: 0% 5%;
}
.dateContainer .line {
  flex: 1;
  height: 2px;
  color: white;
  border: transparent;
  background-image: linear-gradient(90deg, violet, transparent);
}
.dateContainer .rightLine {
  flex: 1;
  height: 2px;
  color: white;
  border: transparent;
  background-image: linear-gradient(90deg, transparent, violet);
}
.message {
  padding-top: 2em;
}
.ui.purple.icon.button {
  padding: 15px 10px;
}
.defaultMessage {
  padding-left: 1%;
}
.envelope.icon {
  color: #65147f;
}
.search.icon {
  padding-right: 40px;
}
