body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh !important;
  position: absolute;
  top: 0;
  width: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  width: 20%;
  height: 100% !important;
  background-color: black;
  position: absolute;
  top: 0;
}
.menuItem {
  background-color: black !important;
}
.mainSection {
  margin-left: 20%;
}
#root {
  min-height: 100%;
}
