.messageList {
  border: violet;
  height: 85%;
}
* {
  box-sizing: border-box;
}
.yellow {
  color: #fbda58;
}
.messageTextWrapper {
  border: 2px #660658 solid;
  padding: 0.25em 1em;

  border-radius: 10px;
}
.isOwner {
  border-color: transparent;
  background-color: #301c4bd9 !important;
}
.textInput {
  position: absolute;
}
.messagesContainer {
  height: 100%;
  padding: 0 2em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.dateContainer {
  display: flex;
  align-items: center;
  color: white;
}
.date {
  margin: 0% 5%;
  color: white;
}
.dateContainer .line {
  flex: 1;
  height: 2px;
  border: transparent;
  background-image: linear-gradient(90deg, violet, transparent);
}
.message__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.dateContainer .rightLine {
  flex: 1;
  height: 2px;
  border: transparent;
  background-image: linear-gradient(90deg, transparent, violet);
}
.time {
  right: 0;
  font-size: 0.75rem;
  align-self: flex-end;
}
#userList {
  height: 100%;
  overflow-y: scroll;
}
#userList::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(251, 218, 88, 0.28) 0%,
    rgba(175, 25, 131, 0.28) 100%
  );
}
.messageWrapper {
  margin-top: 1.2em;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(251, 218, 88, 0.28) 0%,
    rgba(175, 25, 131, 0.28) 100%
  );
}
.messageTimeWrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.message {
  display: flex;
  margin-top: 0.5em;
  justify-content: flex-start;
}
.ui.purple.icon.button {
  padding: 15px 10px;
}
.defaultMessage {
  padding-left: 1%;
}
.envelope.icon {
  color: #65147f;
}
.search.icon {
  padding-right: 40px;
}

.newMessagePopUp {
  position: absolute;
  padding: 0.25em 1em;
  bottom: 6em;
  background: linear-gradient(
    90deg,
    rgba(175, 25, 131, 0.374) 3.65%,
    rgba(251, 218, 88, 0.493) 100%
  );
  border-radius: 5px;
  color: white;
  right: 3em;
  cursor: pointer;
}
.newMessagePopUp:hover {
  opacity: 90%;
}
