.messageList {
  border: violet;
  height: 85%;
  flex: 1;
}
* {
  box-sizing: border-box;
}
.yellow {
  color: #fbda58;
}
.messageTextWrapper {
  border: 2px #660658 solid;
  padding: 0.25em 1em;

  border-radius: 10px;
}
.isOwner {
  border-color: transparent;
  background-color: #301c4bd9 !important;
}
.textInput {
  position: absolute;
}
#message > button {
  background: linear-gradient(136.22deg, #001329 4%, #782493 98.04%);
}
.roomToolBar {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}
.roomToolBar__hero {
  display: flex;
  align-items: center;
}
.toolBar__icon {
  color: white;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.actionIcons__container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.2em;
}
#editIcon,
#deleteIcon {
  display: none;
  color: #782493;
}

#ellipsisPopup {
  background-color: #181830;
  color: white;
  border: none;
  padding: 0.55em;
}
#innerPopup {
  background-color: #181830;
  border: none;
  padding: 0;
}
.toolBar__options > li:hover {
  cursor: pointer;
  opacity: 80%;
}
.toolBar__options {
  list-style-type: none;
  padding: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.banner {
  margin: 0;
}
.messagesContainer {
  height: 100%;
  padding: 0 2em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
}
.dateContainer {
  display: flex;
  align-items: center;
  color: white;
}
.date {
  margin: 0% 5%;
  color: white;
}
.dateContainer .line {
  flex: 1;
  height: 2px;
  border: transparent;
  background-image: linear-gradient(90deg, violet, transparent);
}
.message__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.dateContainer .rightLine {
  flex: 1;
  height: 2px;
  border: transparent;
  background-image: linear-gradient(90deg, transparent, violet);
}
.time {
  right: 0;
  font-size: 0.75rem;
  align-self: flex-end;
}
#userList {
  height: 100%;
  width: 100% !important;
  margin: 0 auto;
  overflow-y: scroll;
}
#userList::-webkit-scrollbar-track {
  background: transparent;
}
#userList::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(251, 218, 88, 0.28) 0%,
    rgba(175, 25, 131, 0.28) 100%
  );
}
.messageWrapper {
  margin-top: 1.2em;
}
.messagesContainer::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(251, 218, 88, 0.28) 0%,
    rgba(175, 25, 131, 0.28) 100%
  );
}
.messageTimeWrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.message {
  display: flex;
  margin-top: 0.5em;
  justify-content: flex-start;
}

.defaultMessage {
  padding-left: 1%;
}

.search.icon {
  padding-right: 40px;
}
#sendIcon {
  color: white;
}
.ui.inverted.action.input > button.ui.icon {
  background: linear-gradient(136.22deg, #001329 4%, #782493 98.04%);
  padding: 0.5em;
}
#addUser {
  background: linear-gradient(96.46deg, #001329 9.97%, #782493 96.95%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0em 1em;
  cursor: pointer;
}
#addUser:hover {
  opacity: 80%;
}
.newMessagePopUp {
  position: absolute;
  padding: 0.25em 1em;
  bottom: 6em;
  background: linear-gradient(
    90deg,
    rgba(175, 25, 131, 0.374) 3.65%,
    rgba(251, 218, 88, 0.493) 100%
  );
  border-radius: 5px;
  color: white;
  right: 3em;
  cursor: pointer;
}
.newMessagePopUp:hover {
  opacity: 90%;
}
