.roomContainer {
  background: rgb(24,24,48);
  background: linear-gradient(90deg, rgba(24,24,48,1) 35%, rgba(156,36,138,1) 100%, rgba(2,0,36,1) 181830%);
  height: 100vh;
}
.roomsHeader {
  display: flex;
  padding: 2% 0 0 2%;
  color: white;
}
h1 {
  flex: 1;
}
.middleSection {
  display: flex;
  background: rgb(24,24,48);
  background: linear-gradient(90deg, rgba(24,24,48,1) 35%, rgba(156,36,138,1) 100%, rgba(2,0,36,1) 181830%);
  width: 80%;
  right: 0;
  height: 90%;
  bottom: 0;
  position: fixed;
  column-gap: 2%;
  padding-bottom: 2%;
}
.middleSection div {
  background-color: blueviolet;
}
.roomLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}
.roomMiddle {
  flex: 2;
  overflow-y: scroll;
}
.roomRight {
  flex: 1;
}
.roomListContainer {
  flex: 1;
  border-radius: 2%;
  background-color: rgb(0, 19, 41) !important;
  overflow-y: scroll;
}
