.roomContainer {
  background: rgb(24, 24, 48);
  height: 100vh;
}

.generic__wrapper {
  padding-top: 1em;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.roomsHeader {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0 3.3em;
  align-items: center;
}
.roomsHeader > h1 {
  margin: 0;
}
.nav {
  display: flex;
  gap: 2em;
  align-items: center;
}

.defaultMessage,
.message {
  color: white;
}
.middleSection {
  display: flex;
  background: rgb(24, 24, 48);
  width: 82%;
  right: 0;
  height: 90%;
  bottom: 0;
  position: fixed;
  column-gap: 2%;
  padding-bottom: 2%;
}
.middleSection div {
  background-color: rgb(0, 19, 41);
}
.roomLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2%;
}
.roomMiddle {
  flex: 2;
  position: relative;
  overflow-y: scroll;
}
.roomRight {
  flex: 1;
}
.roomButton {
  font-size: 0.9rem;
  background: linear-gradient(96.46deg, #001329 9.97%, #782493 96.95%);
  border: none;
  color: white;
  font-weight: bold;
  padding: 0.55em 1em;
  margin: 0;
  align-self: center;
  border-radius: 5px;
}

.roomButton:hover {
  opacity: 80%;
  cursor: pointer;
}
.roomListContainer {
  flex: 1;
  border-radius: 2%;
  overflow-y: scroll;
}

.visible.content {
  background: none;
}

.notificationIcon{
  color: #BFDBFD !important;
}

.hidden.content {
  background: none;
}
.menuItem,
.menu {
  background-color: transparent !important;
}
.menuItemContainer {
  display: flex;
  margin-left: 1em;
  justify-content: space-between;
}
.ui.fluid.inverted.vertical.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.menuItemWrapper {
  display: flex;
  align-items: center;
}
#menuItem {
  padding: 0;
}
.ui.inverted.action.input {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-color: #301c4bd9;
  border-radius: 7px;
  border-style: solid;
  border-width: 0.005vw;
}
.ui.inverted.action.input input {
  background-color: transparent;
  color: white;
}
.roomMiddle > button:first-of-type {
  position: absolute;
  top: 0;
  right: 3%;
  height: 5%;
}
.ui.transparent.icon.input.searchBar input {
  color: white;
  border-style: solid;
  border-color: #301c4bd9 !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: grey !important;
}
#menuItem {
  color: #fbda58 !important;
}
