.userInfoContainer {
  display: flex;
  column-gap: 1em;
  color: white;
  align-items: center;
}
.nameContainer {
  display: flex;
  align-items: center;
  gap: 1em;
}
.ui.avatar.image.avatarImage {
  width: 3em;
  height: 3em;
}
img,
picture {
  max-width: 100%;
  display: block;
}

#logoutButton {
  background: linear-gradient(96.46deg, #001329 9.97%, #782493 96.95%);
  color: white;
}
